{% extends "cards.html" %}

<!-- synonyms -->
{% block content %} 
<div class="container">
    <div class="row shadow p-3 mb-5 bg-white rounded">
        <div class="col-12">
            <h4>Synonyms</h4>
            <hr class="my-1 pb-2">
        </div> 

        <div class="col-12">
            <a href="#" class="tag-related">Adjective</a>
            <a href="#" class="tag-related">Preposition</a>
            <a href="#" class="tag-related">Conjunction</a>
            <a href="#" class="tag-related">Determiner</a>
            <a href="#" class="tag-related">Interjection</a>
            <a href="#" class="tag-related">Noun</a>
            <a href="#" class="tag-related">Number</a>
            <a href="#" class="tag-related">Pronoun</a>
            <a href="#" class="tag-related">Verb</a>
            <a href="#" class="tag-related">Adverb</a>
        </div> 
    </div>   
</div>
{% endblock content %}